.square {
  border: 2px solid black;
  height: 6rem;
  width: 6rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.winner {
  background-color: rgba(192, 192, 192, 0.74);
  border-color: rgba(33, 136, 66, 0.747);
  transform: rotate(180deg);
  transition: transform 1s ease;
}
